
body {
    background-color: pink;
    /* color: #8a2be2; I like this color, just leaving for alter design*/ 

    font-family: 'Montserrat', sans-serif;
    font-weight: thin;
    cursor: url('./lamp.png'), auto;
    color: black;

    display: flex;
    justify-content: center;

    font-size: 2.5em;
}
@media screen and (min-width: 750px) {
    body {
        font-size: 1.8em;
    }
}

h1, h2, h3, h4, .title-display, button {
    font-weight: bold;
    font-family: 'Pixelify Sans', serif;
}

.title-display {
    font-weight: bold;
    font-size: 4.2em;
}

.logo-container { 
    margin: 6em 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.community-logo  {
    margin: 0 2em;
    width: auto;
}
#akiya-logo {
        /* no logo plain text */
        color: black;
        text-decoration: none;
        /* font-size: 1.8em; */
}
#zu-logo {
    height: 50px;
}
#vitalia-logo {
    height: 20px;
}



.content-container {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 2em;
}

@media (max-width: 800px) {
    .content-container {
        width: 50%;
    }
}

.list-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.list-container * {
    margin: 0.5em 0;
}

@media (max-width: 800px) {
    .list-container {
        flex-direction: row;
    }
}
.divider {
    margin: 10% 0;
}
ul {
    list-style: none;
    padding-left: 0;
    padding-bottom: 3em;
}
h3.list-title {
    text-align: center;
}
ul:before {
    /* content: "👻"; */
    display: inline-block;
    width: 1em;
}
.listicle {
    flex: 1;
    width: 80%;
}
h3 {
    margin-bottom: 0;
}
li {
    display: inline-block;
    margin-right: 1em;
    white-space: nowrap;
}
li::before {
    content: "👻";
    margin-right: 0.5em;
}
@media (max-width: 600px) {
    li {
        display: block;
    }
}
a:link {
    color: #4169E1;
    text-decoration: underline;
}

a:visited {
    color: #000000;
}


.section { 
    margin-left: 14%; text-align: center; width: 72%;
}

.cta-button {
    background-color: #87CEEB;
    border: none;
    margin: 5vh 0;
    padding: 20px;
    border-radius: 1.5em;
    font-size: 1.5em;
    cursor: pointer;
}


/* Cards */

.section-title {
    font-size: 2em;
    margin-bottom: 20px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    /* background-color: #fff; */
    border: 1px solid #8a2be2;
    border-radius: 10px;
    padding: 15px;
    max-width: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* cursor: pointer; */
}

.card-icon {
    width: 100px;
    /* height: 100px; */
    /* margin-bottom: 10px; */
}

.card h4 {
    /* font-size: 1.2em; */
    color: #4b0082;
    /* margin-bottom: 10px; */
}

.card p {
    /* font-size: 0.9em; */
    color: #333;
}

.meme { 
}

@media(maxWidtH: "600") {
}

#god-power {
    height: 400px;
    width: 400px;
    position: absolute;
    left: 5vw;
}


#symbionts {
    width: 50%;
    height: auto;
    margin-left: 25%;
    /* right: 5vw; */
}